.hero{
    width: 100%;
    min-height: 100vh;
    background: 
  linear-gradient(rgba(8,0,58,0.7), rgba(8,0,58,0.7)),
  url('../../assets/hero.png');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
color: aliceblue;
display: flex;
align-items: center;
justify-content: center;
}
.hero-text{
    
    text-align: center;
    max-width: 800px;
}
.hero-text h1{
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: 700;
}
.hero-text p{
    font-size: 20px;
    margin-bottom: 30px;
  
    line-height: 1.6;
}

@media (max-width: 768px) {
    .hero-text h1 {
        font-size: 30px;
        max-width: 400px;
        margin: auto;
    }
    .hero-text p {
        font-size: 18px;

        margin: 15px auto 30px;
    }
}