.about{
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
.about-left{
    position: relative;
    flex-basis: 48%;
}
.about-right{
    flex-basis: 56%;
}
.about-img{
    width: 100%;
    padding: 5%;
    border-radius: 10px;
}


.play-icon{
    width: 60px;
    position: absolute;
    top: 50%  ;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
.about h3{
    font-weight: 600px;
    font-size: 16px;
    color: #212e48;

}
.about h2{
    margin: 10px;
    color: #000f38;
    max-width: 400px;
    font-size: 35px;
    color: #212e48;
}
.about p{
    color: #676767;
    margin-bottom: 15px;
}
@media (max-width: 768px) {
    .about{
        flex-direction: column;
        margin: 50px auto;
    }
    .about-left, .about-right{
        flex-basis: 100%;
    }
    .about-left{
        margin-bottom: 30px;
        order: 2;
    }
    .about h2{
        font-size: 28px;
        max-width: 100%;
    }
}