.about{
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
.about-left{
    position: relative;
    flex-basis: 48%;
}
.about-right{
    flex-basis: 56%;
}
.about.img{
    width: 100%;
    border-radius: 10px;
}


.play-icon{
    width: 60px;
    position: absolute;
    top: 50%  ;
    left: 50%;
    transform: translate(-50%,-50%);
}