.contact{
    margin: 88px auto;
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact-col{
    flex-basis: 49%;
    color: #676767;
}
.contact-col h3{
    font-size: 25px;
    font-weight: 500;
    color: #000f38;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.contact-col h3 img{
    width: 35px;
    margin-left: 10px;
    vertical-align: middle;
}
.contact-col p{
    max-width: 450px;
    line-height: 0.8;
}
.contact-col ul li {
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.contact-col ul li img{
    width: 25px;
    margin-right: 10px;
}
.contact form input, .contact form textarea{
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #676767;
   display: block;
   resize: none;
   outline: 0;
   background: #ebecfe;
}
.contact-col span{
    display: none;
    margin-top: 10px;
    color
    : green;
}

@media (max-width: 700px) {
    .contact{
        flex-direction: column;
        margin: 40px auto;
    }
    .contact-col{
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .contact-col:last-child{
        margin-bottom: 0;
    }
}
