nav{
    width: 100%;
    position: fixed;
    /*background-color: rgba(0, 0, 0, 0.863);*/
    padding: 4px 0;
    color: white;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}
.logo{
    width: 180px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    gap: 10px;
    margin:5px 20px;
    font-size: 16px;
}
.dark-nav{
    background-color: rgba(66, 68, 214, 0.863);
    transition: 0.5s;
}