.footer{
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #797979;
    padding: 15px 0;
}
.footer ul li{
    display: inline;
    margin-right: 20px;
    list-style: none;
}
@media (max-width: 600px) {
    .footer{
        
        text-align: center;
        display: block;
    }
    .footer ul{
        margin: 10px 0;
        padding: 0;
    }
    .footer ul li{
        display: block;
        margin: 10px 0;
    }
}