.gallery{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.campus{
    margin: 80px auto;
    width: 80%;
    text-align: center;
}
.gallery img{
    width: 23%;
    border-radius: 10px;
}
/* Responsive Design */
@media (max-width: 768px) {
    .gallery{
        flex-direction: column;
    }
    .gallery img{
        width: 80%;
        margin-bottom: 20px;
    }
    .gallery img:last-child{
        margin-bottom: 0;
    }
}